<h1>Выберите машину, которую нужно застраховать</h1>
<form action="" method="post">
    <div>
        <label for="vin"><b>VIN</b></label>
        <input name="vin" type="text" placeholder="vin" required="required" />
    </div>
    <div>
        <label for="number"><b>Номер</b></label>
        <input name="number" type="text" placeholder="номер" required="required" />
    </div>
    <div>
        <label for="mark"><b>Марка</b></label>
        <input name="mark" type="text" placeholder="марка" required="required" />
    </div>
    <div>
        <label for="model"><b>Модель</b></label>
        <input name="model" type="text" placeholder="модель" required="required" />
    </div>
    <div>
        <label for="year"><b>Год выпуска</b></label>
        <input name="year" type="text" placeholder="год" required="required" />
    </div>

    <button type="submit">Застраховать</button>
</form>